.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
smoke_test/protobuf/googleapis/
smoke_test/protobuf/gen/
vscode-proto3/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!node_modules/fast-glob/**
.actrc
.github